body, html {
  font-size: 16px; /* Default font size for most browsers. */
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  overflow: hidden;
}

#backgroundVideo {
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);

  filter: blur(0);
  transition: 4s ease-out;
  -webkit-transition: 4s ease-out;
  -moz-transition: 4s ease-out;

  animation: darken 10s forwards;
}

@keyframes darken {
  from { filter: blur(0) brightness(1); }
  to { filter: blur(10px) brightness(0.5); }
}

.content {
  z-index: 1;
  text-align: center;
  color: #fff;

  /* Move up slightly. */
  position: relative;
  top: -10%;

  /* Animate in. */
  opacity: 0;
  transition: 1s ease-out;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
}

.title, .subtitle, .buttons {
  margin-bottom: 1em;
}

#title {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 6em; /* 96px equivalent. */
  margin-bottom: -10px;}

#subtitle {
  color: #e9e9e9;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 2.36em; /* Adjust to match title. */
  margin-top: 0px;
}

.btn {
  display: inline-block;
  margin: 0em 1em;
  padding: 0.8em 1em;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-decoration: none;
  width: 17em; /* Adjust to match text. */

  /* Animate colors on hover. */
  transition: background 0.15s ease-out;
  -webkit-transition: background 0.15s ease-out;
  -moz-transition: background 0.15s ease-out;
}

.btn i.icon {
  margin-right: 5px;
}

.btn:hover {
  background: #fff;
  color: #000;
}

#debug-pause-btn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: #a2a2a2;
  cursor: pointer;

  position: fixed;
  bottom: 10px;
  right: 10px;
}

#debug-pause-btn:hover {
  background: #ddd;
  color: black;
}

@media screen and (max-width: 700px) {
  .buttons {
    flex-direction: column;
  }
  #title {
    font-size: 3em; /* 48px equivalent. */
    margin-bottom: 0px;
  }
  #subtitle {
    font-size: 1.178em; /* Adjust to match title. */
  }
  .btn {
    font-size: 0.875em;
    width: 8.55em; /* Adjust to match text. */
  }

  /* Disable hover color for mobile touch devices. */
  .btn:hover {
    /* TODO: This is kind of hacky. */
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
}

@media screen and (max-width: 328px) {
  #title {
    line-height: 1em;
    margin-bottom: 20px;
  }
}